.form_container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: var(--primaryColor);
}

.right_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:40px;
  gap:50px;
}

.app_title{
  font-weight: bold;
  font-size: 40px;
  padding:10px;
}


.heading_box{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.page_title{
  font-size:38px;
}
.heading{
  border-bottom:3px solid var(--secondaryColor);
  width:fit-content;
  padding-bottom:3px;
  font-size: 34px;
}

.input_box{
  display: flex;
  flex-direction: column;
  gap:20px;
  width:50%;
}

.decorative_image{
  width:100px;
}
