.single_input{
  display: flex;
  flex-direction: column;
  gap:5px;
}

input {
  padding:10px;
  font-size:20px;
  border-radius:10px;
  border-width: 1px;
  
}

.single_input_label{
  font-size:20px;
  margin-bottom:3px;
}