.navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
  }

.navigation_links{
  display:flex;
  gap:3vh;
  flex-direction: column;
  align-items: center;
}

.logout{
  font-size:20px;
  text-decoration: none;
  color:white;
}

.logout:hover{
  opacity:0.8;
}

.nav_link--active{
  background-color:var(--darkPrimary) !important;
  border:2px solid var(--primaryColor) !important;
  color:var(--white) !important;
}


.nav_link {
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--primaryColor);
  color: var(--darkPrimary);
  text-align: center;
  text-decoration: none;
  border:2px solid var(--darkPrimary);
}

.nav_link:hover{
opacity:0.8;
}

.logo{
  width: 170px;
}