.song_cover{
  width:200px;
  height:200px;
  background-color: var(--rgbaPrimary);
  border-radius:10px;
}

.buttons {
  display: flex;
  gap: 50px;
  width: 50%;
  justify-content: space-between;
}

.buttons .button {
  width: 50%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover{
  opacity:0.5;
}

