.song_cover{
  width:200px;
  height:200px;
  background-color: var(--rgbaPrimary);
  border-radius:10px;
}

.buttons {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.buttons .button {
  width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover{
  opacity:0.5;
}

.inputs {
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex: 2;
}

.cover_image {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  border-right: 5px solid var(--secondaryColor);
  padding-right: 30px;
}

