.profile_container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.nav_box {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width:20%;
  background-color: var(--primaryColor);
  border-right: 5px solid var(--black);
}

.page_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:40px;
  gap:50px;
}

.nav_link {
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--darkPrimary);
  color: var(--white);
  text-align: center;
  text-decoration: none;
}

.nav_link:hover{
opacity:0.8;
}