:root {
  --primaryColor: #FC6422;
  --rgbaPrimary:rgba(252, 100, 34, 0.75);
  --secondaryColor: #87F966;
  --tertiaryColor: #FC1CFD;
  --textColor: #000000;
  --black: #1E1E1E;
  --white:white;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}