.profile_page {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 40px;
}

.user_image{
  width:200px;
  height:200px;
  background-color: var(--rgbaPrimary);
  border-radius:10px;
}

.profile_inputs {
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex: 1;
  margin-top: 6vh;
}