.modal{
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid var(--darkPrimary);
  background: var(--white);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 60px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}